dialog {
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 400px;
    background-color: #fff;
}

.panel {
    overflow: auto;
    max-width: 100vw;
    max-height: 100vh;
    margin: 4px;
}

.component {
    padding: 4px;
    min-width: 300px;
    margin: 10px 0px 30px 0px;
}

.component > .heading {
    margin: 10px 0;
}

.element {
    margin: 2px;
}

.scrollable-console {
    overflow: scroll;
    height: 100px;
}

.links {
    color: rgb(13, 102, 208)
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.between { justify-content: space-between; }
.around  { justify-content: space-around; }
.start   { justify-content: flex-start; }
.end     { justify-content: flex-end; }
.center  { justify-content: center; }
